<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
       <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/search">Search</a>
          <a href="/edit">Edit</a>
      </div>
                  
        <div id="header">
            <h2>Form for new user to be added</h2>
                <form id="form" action="/edit" method="post">
              First name:<br>
                    <input type="text" name="firstname"><br>
              Last name:<br>
                    <input type="text" name="lastname"><br>
              Email:<br>
                    <input type="text" name="email"><br>
                    <input type="submit" value="Submit">
                </form>
        </div>
    </body>
</html>
