<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
      <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/search">Search</a>
          <a href="/edit">Edit</a>
      </div>

     <div id="header">
          <h2>User is matched</h2>

              <p class="list"><%= match.firstname%></p><br>
              <p><%= match.lastname%></p><br>
              <p><%= match.email%></p><br>
          </ul>
    </div>

  </body>
</html>
