<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>
      <div class="topnav">
          <a class="active" href="http://localhost:3000/">Home</a>
          <a href="http://localhost:3000/search">Search</a>
          <a href="http://localhost:3000/edit">Edit</a>
      </div>

     <div id="header">
          <h2>User is matched</h2>

              <p id="list"><%= match.firstname%></p><br>
              <p id="list"><%= match.lastname%></p><br>
              <p id="list"><%= match.email%></p><br>
          </ul>
    </div>

  </body>
</html>
